fastapi
uvicorn
python-dotenv
langchain
langchain-openai
chromadb
pypdf
tiktoken
langchain_community
sentence-transformers
python-multipart
shutils
fastapi 
uvicorn[standard]
langchain-core
langchain-chroma
langchain-ollama
langchain-huggingface