fastapi==0.111.0
uvicorn[standard]==0.29.0
python-dotenv==1.0.1
python-multipart==0.0.9
pydantic==2.7.1
requests==2.32.3
beautifulsoup4==4.12.3
langchain==0.2.6
langchain-core==0.2.10
langchain-community==0.2.6
langchain-google-genai==1.0.7
langchain-huggingface==0.0.3
langchain-chroma==0.1.2
pypdf==4.2.0
chromadb==0.4.24
sentence-transformers==2.7.0
rank-bm25==0.2.2

